<!---HEADER handlebars--->
<header>
  <h1 class="site-title">Movie Mania</h1>
</header>

<!---Navbar with no search bar--->
<nav class="navbar">
  <ul class="navbar">
    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/Best">Best</a></li>
    <li class="navitem"><a href="/Recommended">Recommended</a></li>
  </ul>
</nav>
