<!---The template for creating a new post if you so desire--->
<article class="post">
	<div class="post-icon">
		<i class="fas fa-film"></i>
	</div>
	<div class="post-content">
		<p class="post-text">
			{{text}}
		</p>
		<p class="post-author">
			<a href="#">{{author}}</a>
		</p>
	</div>
</article>
