<!DOCTYPE html>
<html>
  <head>
      <meta charset="uft-8">
      <title>Movie Mania</title>
      <link rel="stylesheet" href="https://fontawesome.com/v4.7.0/icon/film" media="screen">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <script src="index.js" charset="utf-8" defer></script>
    </head>

    {{> header}}

    {{{body}}}
  </body>
</html>
